<div class="intro-main-container navigation-box">
    <div class="navigation" id="about" #about></div>
    <section class="intro-section">
      <div class="container container-intro">
        <div class="intro-section-text">
          <h1>HELLO AND WELCOME TO SYDNEY!</h1>
          <p>Be it for business or pleasure, Sydney is host to a huge variety of world famous attractions.
            we
            want to
            share these with you.
            Whether you are a regular traveller, or this is your first time to Sydney, be sure to book
            with
            us for an
            adventure you won’t ever forget.
            Come on, Lets Explore Sydney!</p>
          <p>Dan and the team.</p>
        </div>
      </div>
    </section>
    <section class="intro-section-image">
      <div class="container">
        <div class="intro-section-image-dots">
          <div class="intro-box-image">
            <img class="pic-auto" src="../assets/0.jpg">
            <img class="pic-auto" src="../assets/1.jpg">
            <img class="pic-auto" src="../assets/2.jpg">
            <img class="pic-auto" src="../assets/3.jpg">
            <img class="pic-auto" src="../assets/4.jpg">
            <img class="pic-auto" src="../assets/5.jpg">
          </div>
          <div class="intro-section-dots">
            <div class="intro-section-dot"></div>
            <div class="intro-section-dot"></div>
            <div class="intro-section-dot"></div>
            <div class="intro-section-dot"></div>
            <div class="intro-section-dot"></div>
            <div class="intro-section-dot"></div>
          </div>
        </div>
      </div>
    </section>
  </div>
