
h1 {
    color: white;
}

.meeting-section {
    padding: 15px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.map-container {
    height: 360px;
    width: 100%;
    filter: grayscale(100%);
    img {
        width: 100%;
    }
}

@media screen and (min-width: 916px){
      .meeting-section {
        padding: 15px 50px 0px 35px;
        display: flex;
        flex-wrap: wrap;
        h1 {
            text-align: left;
        }
    }
}