<main>
  <div class="navigation" #home></div>
  <app-nav 
  (navScroll)="navigate($event)" 
  (navMobile)="navigateMobile($event)">
  </app-nav>
  <app-header (buttonTrips)="buttonScroll($event)"></app-header>
  <div class="navigation" #about></div>
  <app-about></app-about>
  <div class="navigation" #trips></div>
  <app-tours (buttonBook)="buttonScroll($event)"></app-tours>
  <app-highlighted-paragraph></app-highlighted-paragraph>
  <div class="navigation" #safety></div>
  <app-safety [ngStyle]="{background: '#FFFFF3'}"></app-safety>
  <app-faq-meeting></app-faq-meeting>
  <div class="navigation" #contact></div>
  <app-booking-contact></app-booking-contact>
  <app-footer></app-footer>
</main>

